<form class="ui raised segment form" action="/dashboard/adddevice" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text" name="name">
        </div>
        <div class="field">
            <label>Type</label>
            <input placeholder="Curler" type="text" name="type">
        </div>
        <div class="field">
            <label>Chart</label>
            <input placeholder="Curler" type="thingspeak.com..." name="chart">
        </div>
    </div>
    <button color="#eb9493" class="ui submit button">Add Device</button>
</form>