<nav class="ui massive borderless white menu">
    <header class="ui header item"><a href="/"><img src="https://cdn.glitch.global/dc778cf4-49d8-4739-b8fa-63cba4907335/logostylepink.png?v=1670772684908"></a></header>
    <div class="right menu">
        <a id="about" class="item" href="/about"> Getting Started </a>
        <a id="signup" class="item" href="/signup"> Signup </a>
        <a id="login" class="item" href="/login"> Login </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>