{{> welcomemenu id="about"}}

<div class="ui container">
    <br>
    <div class="ui horizontal divider">
        <h1 class="ui header">Style Control Overview</h1>
    </div>
</div>
<div class="ui container">
    <div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/device.jpg?v=1660997965542">
                <h1 class="ui header">The Application</h1>
                <p>
                    The Style Control tool is controlled using a RaspberryPi and a TP-Link Smart Plug. The following smart plugs can be used with the application  
                </p>
            </div>
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/data.jpg?v=1660997959311">
                <h1 class="ui header">The Technologies</h1>
                <p>
                    head
                </p>
                <p>blah
                </p>
            </div>
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/team.jpg?v=1660997984515">
                <h1 class="ui header">The Developer</h1>
                <p>
                    Ellen Cooney is an over anxious person with over anxious friends who have been known to take pictures of unplugged hot appliances when leaving the house to avoid the "Did I leave the straightener on?" panic
                </p>
            </div>
        </div>
    </div>
</div>
<div class="ui container">
<div class="ui horizontal divider">
<h2 class="ui header"></h2>
    <h2 class="ui header">head</h2>
    <p>blah</p>
    <p>blah</p>
</div>
