{{> menu}}

<section class="ui container">
<br>
  <div class="ui horizontal divider">
    <h2 class="ui header">
      {{device.name}}
    </h2>
  </div>

{{> listreadings}}

  <h3 class="ui header">Input a Reading</h3>
{{> addreading}}
</section>