<div class="masthead-background">
    {{> welcomemenu id='login' }}
    <div class="ui vertical masthead center aligned segment">
        <a class="ui inverted text container">
            <h1 class="ui inverted header">
                Style Control
            </h1>
            <h2 class="ui inverted header">Your Anti-Panic App</h2>
            <br>
            <a href="/about" class="ui huge button">How it Works<i class="right arrow icon"></i></a>
    </div>
</div>

<div class="ui container">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h2 class="ui header">Style Control Online</h2>
                    <p>Style Control Online extends the usage of the Style Control program and Blynk application to a web application with control and monitoring functionality.
                    </p>
                    <h2 class="ui header">Getting Started</h2>
                    <p>Once you've registered, you can add a number of devices, monitor their temperature, on/off state and control them from an easy to use dashboard</p>
                </div>
                <div class="six wide right floated column">
                    <div class="ui fluid image">
                        <div class="ui ribbon label">Blynk App</div>
                        <img src="https://cdn.glitch.global/dc778cf4-49d8-4739-b8fa-63cba4907335/app.jpg?v=1670770142159">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>