{{> welcomemenu id="signup"}}

<style>
    .image {
        margin-top: -100px;
    }
    .column {
        margin-top: 50px;
        max-width: 600px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui image header">
            <img src="https://cdn.glitch.global/dc778cf4-49d8-4739-b8fa-63cba4907335/minilogo.png?v=1670773354937" class="image">
            <div class="content">Create a New Account</div>
        </h1>
        <form class="ui large segment form" action="/register" method="POST">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstName">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastName">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <button class="ui submit button">Submit</button>
        </form>
    </div>
</div>